* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contract{
    display:flex;
    flex-direction: row;
}

.card {
    width: 50%;
    background-color: darkgray;
    padding: 5%;
    color: white;
    height: 100vh;
}

.pic{
    width: 65%;
    height: 100vh;
}

img{
    width: 100%;
    height: 100vh;
}

h1{
    padding-top: 26px;
    padding-left: 16px;
    padding-bottom: 200px;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    padding-left: 16px;
    font-weight: 200;
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px){
        .contract h1{
            font-size: 40px;
        }
        .card h2{
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 768px){
        .contract h1{
            font-size: 40px;
        }
        .contract {height: 250px; width: 100%; }
        .contract .card{flex-direction: column; align-items: center;}
        .card h2{
            padding:3px;
            font-size: 16px;
            margin-bottom: 5px;
        }
    }

    @media screen and (max-width: 420px){
        .contract{
            flex-direction: column;
            height: 100vh;
            width:100%;
        }
        .contract h1{
            padding-bottom: 20px;
        }
        .card{
            height: 300px;
            width: 100%;
            flex-direction: column;
        }
        .contract .pic{
            width: 100%;
        }
    }